.doc {
    margin-top: 20px;

    img {
        max-width: 49%;
    }

    &-wrapper {
        display: flex;
        gap: 20px;
    }
    
    @media screen and (max-width: 700px) {
        &-wrapper {
            flex-wrap: wrap;
        }
    }
}
