.doc-license {
    display: flex;
    align-items: start;
    gap: 10px;
    width: 100%;
    max-width: 640px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(138, 173, 255, 0.5);
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;

    &.animate {
        opacity: 1;
        transform: translateY(0);
        box-shadow: 0 8px 30px rgba(138, 173, 255, 0.4);
    }

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 12px 36px rgba(138, 173, 255, 0.5);
        transition: all 0.4s ease;

        .doc-license__bg.color,
        .doc-license__icon.color {
            opacity: 1;
        }

        .doc-license__icon {
            opacity: 0;
        }
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        transition: 0.5s;
        z-index: 1;
        &.color {
            opacity: 0;
            width: 220px;
        }
    }

    &__content {
        max-width: 241px;
        z-index: 2;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
    }
    &__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        font-style: italic;
        margin-top: 8px;
    }
    &__images {
        display: flex;
        gap: 10px;
        z-index: 2;
    }

    @media screen and (max-width: 1000px) {
        & {
            flex-direction: column;

            &__content {
                max-width: unset;
            }
        }
    }
    @media screen and (max-width: 700px) {
        & {
            align-items: center;
            text-align: center;
            max-width: unset;
        }
    }
}
